@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$black: #232323;
$background: #eae8e3;
$orange: #f18f60;